<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top " id="dashboard-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="PC.png" class="navbar-brand"/> 
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">PharmaC</a></li>
        </ul>
        
        <form class="navbar-form navbar-left" id="dashboard-search-bar">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        
        <ul class="nav navbar-nav navbar-right" id="dashboard-user">
          <li><a href="#" id="user-data">
            <%= @user.first_name %>
            <%= @user.last_name %>
            <%= gravatar_for @user %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container body">
      <div class="function-buttons">
        <button type="button" class="btn btn-primary">Default</button>
        <button type="button" class="btn btn-success">Default</button>
        <button type="button" class="btn btn-warning">Default</button>
        <a href="#" role="button" class="btn btn-info add" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Add</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Medicine Name</td>
            <td>Stock Amount</td>
            <td>Last Updated</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>Sample</td>
            <td>10</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" >
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="background-color:#3fbcf0;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:white;">Product Information</h4>
          </div>
          <div class="modal-body" style="color:white">
            <div id="modal-form">
              <%= form_tag("/medicine", method: "post") do %>
                <%= label_tag(:generic_name, "Generic Name:") %>
                <%= text_field_tag(:generic_name) %>
                <%= label_tag(:brand_name, "Brand Name:") %>
                <%= text_field_tag(:brand_name) %>
                <%= label_tag(:price, "Price:") %>
                <%= text_field_tag(:price) %>
                <%= label_tag(:quantity, "Quantity:") %>
                <%= text_field_tag(:quantity) %>
                <%= label_tag(:mg, "Milligrams:") %>
                <%= text_field_tag(:mg) %>
            </div>
              <button type="submit" class="btn" id="modal-form-submit">Add To Inventory</button>
            <% end %>  
          </div>
          <div class="modal-footer" style="background-color:#3fbcf0;">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          </div>
        </div>
    
      </div>
    </div>
  </body>
</html>